<!doctype HTML>
<head>
    <title>Queries</title>
	
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">The Liqui Intranet App Database Thing</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                        <!--
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dev <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="/">View Dev Summary</a></li>
                        <li><a href="#">Add Dev Project</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Digi <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="/">View Retainer Summary</a></li>
                        <li><a href="#">Add Retainer Project</a></li>
                        </ul>
                        </li>
                        -->
                </ul>
            </div>
        </div>
    </nav>

	<div class="row">
		<div class="container">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Type</th>
						<th>Client</th>
						<th>Project Number</th>
						<th>Invoice Number</th>
						<th>Invoice Amount</th>
						<th>Archived Year</th>
						<th>Archived Yr/Mo</th>
						<th>Profit Margin</th>
						<th>Hours Logged</th>
						<th>Velocity</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
						<tr>
							<td><a href='/type?type={{project.type}}'>{{project.type}}</a></td>
							<td><a href='/client?client={{project.client}}'>{{ project.client }}</a></td>
							<td><a href='/type?type={{project.projectNum}}'>{{project.projectNum}}</a></td>
							<td>{{ project.invoiceNum }}</td>
							<td>{{ project.invoice }}</td>
							<td><a href='/archivedYear?archivedYear={{project.archivedYear}}'>{{project.archivedYear}}</a></td>
							<td><a href='/archivedDate?archivedDate={{project.archivedDate}}'>{{project.archivedDate}}</a></td>
							<td>{{project.profitMargin}}</td>
							<td>{{project.hoursLogged}}</td>
							<td>{{project.velocity}}</td>
						</tr>
					{% else %}
						<tr>
							<td>No Projects Found</td>		
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>